<h2>Games:</h2>
<table class="table table-striped">
  <thead class="bg-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time</th>
      <th scope="col">City</th>
      <th scope="col">Home</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Away</th>
      <th>1</th>
      <th>X</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let g of data.games let idx = index;">
      <td scope="row">{{idx + 1}}</td>
      <td>{{g.time | date}}</td>
      <td>{{g.city}}</td>
      <td>{{g.team1.name}}</td>
      <td>{{g.homeScore}}</td>
      <td>-</td>
      <td>{{g.awayScore}}</td>
      <td>{{g.team2.name}}</td>
      <td>
        <button (click)="addToTicket(g._id, 1, idx)" class="btn btn-primary" [disabled]="isDisabled[idx]">1
          ({{g.homeOdd
          | number : '1.2-2'}}) </button>
      </td>
      <td>
        <button (click)="addToTicket(g._id, 0, idx)" class="btn btn-primary" [disabled]="isDisabled[idx]">X
          ({{g.egalOdd
          | number : '1.2-2'}}) </button>
      </td>
      <td>
        <button (click)="addToTicket(g._id, 2, idx)" class="btn btn-primary" [disabled]="isDisabled[idx]">2
          ({{g.awayOdd
          | number : '1.2-2'}}) </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- pay ticket -->
<!-- <mat-card class="login-card bg-light">
  <mat-card-header>
    <mat-card-title>
        <span class="md-headline h2">Login</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content> -->
<mat-card class="login-card bg-light">
  <mat-card-header>
    <mat-card-title>
      <span class="md-headline h2">Finish ticket</span>
    </mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <mat-form-field id="amount" appearance="outline">
      <mat-label>Place bet</mat-label>
      <input [(ngModel)]="sum" matInput placeholder="Enter the money amount" [disabled]="!auth.isAuthenticated">
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
    <button mat-stroked-button (click)="payTicket()" class="pay-ticket" [disabled]="!auth.isAuthenticated">Pay ticket</button>
  </mat-card-content>
</mat-card>
